* {
    font-family: Segoe UI, serif;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: rgb(23, 23, 23);
}
.first > ul, .second > ul, .nav-page > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 50px;
}
li {
    float: left;
}

li a, .menu-btn {
    display: inline-block;
    color: white;
    text-align: left;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
.menu {
    display: inline-block;
    cursor: pointer;
}

.menu-content {
    display: none;
    position: absolute;
    width: 294px;
    background-color: rgb(26, 26, 26);
    z-index: 10;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-bottom: 2px rgb(241, 241, 241) solid;
    margin-left: 4px;
}

.menu-content > a {
    color: rgb(242, 242, 242);
    position: relative;
    padding: 18px 0 18px 24px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-weight: 400;
}

.menu-content > a:hover {
    background-color: rgb(37, 37, 37);
    text-decoration-line: underline;
}
.menu-btn:before {
    background: white;
    content: "";
    display: none;
    height: 2px;
    position: absolute;
    bottom: 10px;
    width: calc(100% - 63px);
}
.menu-btn:hover:before {
    display: block;
}

header {
    margin-top: 8px;
    position: absolute;
    width: 100%;
}
.icon-ms {
    height: 23px;
    width: 108px;
    margin-top: -1px;
    cursor: pointer;
}
.link-ms {
    height: 48px;
    width: 137px;
    margin-left: -12px;
    margin-top: 1px;
    padding: 13px 20px 14px 12px;
    float: left;
    display: block;
    box-sizing: border-box;
    cursor: pointer;
}
.nav-1 {
    padding: 0 5%;
}
.first {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: 1px;
    padding-right: 1px;
    display: flex;
    height: 100%;
}
.first > ul > li {
    font-size: 15px;
    text-align: left;
    display: inline-block;
    position: relative;
}
.first > ul > li > a:hover:before {
    content: "";
    height: 2px;
    position: absolute;
    bottom: 8px;
    width: calc(100% - 54px);
    background-color: white;
}
.first > ul > li > a {
    padding: 14px 27px 10px 27px;
    margin-top: 1px;
}
.link-xbox {
    padding: 11px 11px 11px 15px;
    margin: 1px;
    box-sizing: border-box;
    height: 48px;
    float: left;
}
.icon-xbox {
    max-height: 100%;
}
.nav-2 {
    padding-left: calc(5% - 18px);
    padding-right: 5%;
}
.menu-btn {
    padding: 0 27px 0 25px;
    border: 1px solid transparent;
    margin: 1px 0 0 4px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 15px;
    line-height: 46px;
    text-align: center;
}
.second > ul {
    padding: 0 1px 0 1px;
}
.arrow-d {
    border: solid white;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: relative;
    top: -4px;
    left: 10px;
}

.nav-page {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    padding: 0 5%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    color: white;
    display: none;
}
.nav-page p {
    display: block;
    float: left;
    font-size: 18px;
    font-weight: 400;
    margin-right: 8px;
}
.nav-page ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    white-space: nowrap;
}
.nav-page li {
    display: inline-block;
    font-size: 15px;
    padding: 20px 0;
    margin: 0 20px 0 24px;
    white-space: nowrap;
}
.nav-page .btn {
    display: inline-block;
    position: relative;
    float: right;
    top: 50%;
    transform: translateY(-50%);
}
.nav-page li a:hover {
    text-decoration: underline;
}

.block-1 {
    font-size: 0;
}
.bg-1 {
    z-index: -1;
    width: 100%;
}
.header-1 {
    position: absolute;
    top: 140px;
    left: 50%;
    padding: 16px 12px;
    color: white;
    text-align: center;
    transform: translateX(-50%);
}
.title-1 {
    font-size: 84px;
    padding: 38px 0 6px 0;
    font-weight: 100;
    letter-spacing: 0.075em;
    line-height: 72px;
    text-align: center;
    margin: 0;
}
.subtitle-1 {
    font-size: 34px;
    font-weight: 100;
    line-height: 40px;
    padding: 27px 0 2px 0;
    text-align: center;
    margin: 0;
}
.btn-main {
    margin: 40px 0 0 60px;
    width: 360px;
    padding: 1px;
}
.btn-main > .btn {
    margin-right: 23px;
}
.play {
    font-size: 15px;
    letter-spacing: 0.07em;
    margin: 0 10px 0 0;
    border: 1px solid transparent;
    padding: 6px 0 8px;
    cursor: pointer;
    color: white;
    background-color: transparent;
}
.play:before {
    content: "î¨";
    color: rgb(93, 194, 30);
    font-family: "Segoe MDL2 Assets";
    height: 16px;
    width: 16px;
    margin: 0 10px;
}
.play a:hover {
    text-decoration: underline;
}
.arrow-r {
    border: solid white;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: relative;
    top: 0;
    left: 10px;
}
.arrow-l {
    border: solid white;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: relative;
    top: 0;
    left: 10px;
}
.block-2 {
    position: relative;
    font-size: 0;
}

.bg-2 {
    width: 100%;
}
.header-2 {
    position: absolute;
    width: 100%;
    top: 148px;
    color: white;
}
.title-2 {
    font-size: calc(200px + 1.8vw);
    text-shadow: 0 0 15px black;
    text-align: center;
    line-height: 0.9;
    margin: 0;
    padding: 0;
    font-weight: 100;
    letter-spacing: -0.01em;
}
.subtitle-2 {
    font-size: calc(17.6px + 1.18vw);
    text-shadow: 0 0 13px black;
    text-align: center;
    line-height: initial;
    padding: 0;
    margin: 0;

}
.block-3 {
    font-size: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}
.bg-3 {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -2;
    transform: translate(-50%, -50%) scale(1.5, 1.5);
}
.box {
    margin: 0 auto;
    padding: 40px 5% 0;
    color: white;
    max-width: calc(1237px + 10%);
    display: block;
    box-sizing: border-box;
    overflow: hidden;
}
.header-3 {
    position: relative;
    margin-bottom: 28vh;
    padding: 48px 0 0 0;
}
.title-3 {
    text-align: center;
    font-size: 46px;
    line-height: 56px;
    padding: 37px 0 3px 0;
    margin: 0;
    letter-spacing: -0.01em;
    font-weight: 100;
    color: white;
}
.subtitle-3 {
    text-align: center;
    padding: 25px 0 3px 0;
    margin: 0;
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    color: white;
}
.showcase {
    position: relative;
    margin-bottom: 71px;
    padding-top: 48px;
    width: 100%;
    color: white;
    float: left;
}
.tip {
    background: rgba(47, 47, 47, 0.85);
    border-bottom: solid rgb(92, 193, 29) 2px;
    max-width: 443px;
    width: 443px;
}
.right {
    float: right;
    transform: translateX(-72px);
}
.left {
    float: left;
}
.video-s {
    width: 443px;
}
.intro {
    padding: 16px 3.9vw 10px 3.9vw;
    color: white;
}
.intro-1 {
    margin-top: 12px;
    font-size: 15px;
    font-weight: 700;
}
.intro-2 {
    font-size: 34px;
    font-weight: 100;
    line-height: 40px;
    margin: 0;
    padding: 0;
}
.intro-3 {
    padding-top: 12px;
    margin-top: 7px;
    margin-bottom: 2.51vw;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.bevel {
    background-color: rgb(23, 23, 23);
    margin: 30px 0 1px;
    transform: skew(0deg, -3deg);
    width: 100%;
    text-align: center;
}
.toggle {
    margin: 30px 0;
    border: 1px;
    padding: 6px 0 8px;
    transform: skew(0deg, 3.5deg);
    font-size: 15px;
    line-height: 20px;
    background: 0;
    letter-spacing: 0.075em;
    color: rgb(200, 200, 200);
    text-align: center;
    display: inline-block;
}

.block-5 {
    background-color: rgb(23, 23, 23);
    color: white;
    overflow: hidden;
    padding-bottom: 50px;
    text-align: center;
    position: relative;
    height: 370px;
}
.slideshow {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.fade {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 71.2%;
}
.slide1 {
    animation-name: slidein;
    animation: 667ms both cubic-bezier(0.16, 1, 0.29, 0.99);
}
.slide2 {
    animation-name: slideout;
    animation: 667ms both cubic-bezier(0.16, 1, 0.29, 0.99);
}
@keyframes slidein {
    from {
        transform: translateX(40px);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slideout {
    from {
        transform: translateX(-40px);
    }
    to {
        transform: translateX(0);
    }
}
.fade-left p {
    padding: 38px 0 2px;
    float: left;
    font-size: 34px;
}
.fade-left {
    display: inline-flex;
    float: left;
    width: 66.66666667%;
}
.fade-right {
    display: inline-flex;
    float: left;
    width: 33.33333333%;
}
.fade-right p {
    font-size: 15px;
    font-weight: 400;
    margin-top: 38px;
    line-height: 40px;
}
.quote {
    display: inline-flex;
    width: 121px;
    height: 103px;
    float: left;
}
.slash {
    display: inline-flex;
    width: 84px;
    height: 145px;
    float: left;
}
.company {
    display: inline-flex;
    width: 70px;
    height: 42px;
    margin: 38px 24px 0;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
}
.prev {
    left: 0;
}
.next {
    right: 20px;
}
.dots {
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.dot {
    box-sizing: content-box;
    cursor: pointer;
    height: 4.5px;
    width: 4.5px;
    border-radius: 50%;
    margin: 2px 1.5px;
    border: white 1px solid;
    background: 0;
    display: inline-block;
    content: "";
    padding: 0;
    transform: translateX(-10px);
}
.dot:hover:not(.active) {
    background: rgba(255, 255, 255, 0.4);
}
.active {
    background: rgb(255, 255, 255);
}
.pause {
    font-family: "Segoe MDL2 Assets";
    background: 0;
    border: rgba(0, 0, 0, 0) 1px solid;
    color: white;
    cursor: pointer;
    top: 4px;
    position: relative;
    height: 38px;
    width: 38px;
}
.pause:hover {
    color: black;
    background: white;
}

.block-6 {
    background-color: rgb(23, 23, 23);
    padding-top: 40px;
    padding-bottom: 72px;
    width: 100%;
    position: relative;
}
.rotate {
    background: url("../img/6.jpg");
    background-size: 100% 3000%;
    position: relative;
    padding-bottom: 37.5%;
    width: 100%;
}
.block-6 .header-5 {
    padding: 0;
}
.slider {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 186px;
    height: 2px;
    background: rgb(138, 138, 138);
    outline: none;
    cursor: ew-resize;
    -webkit-appearance: none;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 56px;
    height: 3px;
    background: rgb(93, 194, 30);
    cursor: ew-resize;
}
.drag {
    color: rgb(200, 200, 200);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3px;
}
.block-6 .subtitle-5 {
    font-size: 24px;
}
.block-7 {
    background-color: rgb(23, 23, 23);
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;
}
.details {
    padding: 0 5%;
    position: relative;
}
.gallery {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    float: left;
    width: 83.333333%;
    margin: 0 auto;
}
.gallery > div {
    margin: 0 auto;
    position: relative;
    width: 90%;
}
.angle {
    width: 32.333333%;
    margin: 0 0 4px 4px;
    float: left;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.fadein {
    transition: 0.25s ease-out;
    width: 100%;
}
.fadein:hover {
    transform: scale(1.2);
    transition: 1.5s ease-in;
}

.block-8 {
    padding-bottom: 48px;
    width: 100%;
    text-align: center;
    position: relative;
    background: rgb(23, 23, 23);
    overflow: hidden;
}
.container {
    height: 56.45vw;
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.video-l {
    background: 0;
    background-size: cover;
    height: 56.45vw;
    position: absolute;
    top: 0;
    left: 0;
}
.header-4 {
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.features {
    padding: 48px 250px 0;
    column-count: 4;
    position: relative;
    box-sizing: border-box;
}
.features > div {
    position: relative;
    width: 257px;
    cursor: pointer;

}
.icon-f {
    height: 52px;
    width: 78px;
}
.features > div > p {
    font-size: 20px;
    line-height: 24px;
    color: white;
}

.block-10 {
    padding: 0 5% 120px;
    margin: 0;
    background-color: rgb(23, 23, 23);
}
.header-5 {
    padding: 48px 48px;
    text-align: center;
}
.title-5 {
    font-size: 46px;
    padding: 37px 0 3px;
    letter-spacing: -0.46px;
    color: white;
    font-weight: 100;
    margin: 0;
}
.subtitle-5 {
    padding: 24px 0 4px;
    width: 56vw;
    font-size: 20px;
    color: rgb(200, 200, 200);
    margin: 0 auto;
}
.games {
    width: 100%;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
}
.games > li {
    display: table-cell;
    width: 20%;
    overflow: hidden;
    height: 41.65vw;
    position: relative;
}
.game {
    position: relative;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.games > li:hover .game {
    height: 120%;
    width: 120%;
}
.game-logo {
    position: absolute;
    bottom: 56px;
    width: 77%;
    left: 50%;
    transform: translateX(-50%);
}
.block-11 {
    background-color: rgb(23, 23, 23);
    overflow: hidden;

}
.busters {
    padding: 0 calc(5% + 24px);
}
.video-m {
    width: 100%;
}
.shelf {
    padding: 0 210px;
}
.banner {
    padding: 12px 24px 0;
    color: white;
    text-align: center;
}
.banner > div {
    column-count: 3;
    column-gap: 0;
    width: 80%;
    margin: 0 auto;
}

.title-6 {
    font-size: 20px;
    padding: 35px 0 5px;
    margin: 0;
}
.subtitle-6 {
    padding-top: 14px;
    color: rgb(200, 200, 200);
    margin: 0 auto;
    font-size: 15px;
}
.link {
    margin-top: 10px;
    border: 2px transparent;
    padding: 10px 0 7px;
    color: rgb(93, 194, 30);
    font-size: 13px;
    text-decoration: none;
    line-height: 16.9px;
    display: block;
}
.block-12 {
    background-color: rgb(23, 23, 23);
}
.compatible {
    width: 100%;
}
.header-6 {
    margin-top: -13%;
    padding: 0 5% 55px;
    position: relative;
    text-align: center;
    color: white;
}
.title-7 {
    padding: 0 48px 6px;
    font-size: 62px;
    letter-spacing: -0.01em;
    line-height: 72px;
    font-weight: 100;
    margin: 0;
}
.devices {
    column-count: 4;
    column-gap: 48px;
    padding: 48px 72px 0;
}
.devices > div > img {
    height: 56px;
    width: 56px;
}

.block-9, .block-13 {
    text-align: center;
    color: rgb(200, 200, 200);
    background-color: rgb(23, 23, 23);
    overflow: hidden;
}

.block-14 {
    background-color: rgb(23, 23, 23);
}
.multiplayer {
    width: 100%;
}
.header-7 {
    color: white;
    text-align: center;
    padding: 0 5% 168px;
}
.advantage {
    column-count: 4;
    column-gap: 48px;
    padding: 48px 72px 3px;
}
.advantage > div {
    text-align: left;
}
.block-15 {
    background-image: url("../img/15.jpg");
    background-size: cover;
    height: 43.75vw;
    color: white;
}
.purchase {
    padding: 0 5%;
    overflow: hidden;
}
.buy {
    float: right;
    width: 600px;
}
.up {
    padding: 8.1vw 48px 0;
}
.down {
    padding: 25px 48px 0;
}
.down div {
    padding: 25px 1px 0;
}
.p0 {
    display: block;
    padding: 12px 0 6px;
    font-size: 62px;
    letter-spacing: -0.01em;
    line-height: 72px;
    font-weight: 100;
    margin: 0;
}
.p1 {
    display: block;
    font-size: 24px;
    line-height: 28px;
    padding: 23px 0 8px;
    margin: 0;
}
.p2 {
    display: block;
    font-size: 20px;
    line-height: 24px;
    padding: 15px 0 4px;
    margin: 0;
}
.p3 {
    display: block;
    font-size: 15px;
    line-height: 20px;
    padding: 0;
    margin: 0;
}
.p4 {
    display: block;
    font-size: 34px;
    font-weight: 100;
    line-height: 40px;
    padding: 22px 0 2px;
    margin: 0;
}
.up > a {
    padding: 10px 0 4px;
    border: 2px transparent;
    margin-top: 14px;
    letter-spacing: 0.075em;
}
.down a {
    display: inline-block;
    padding: 0 27px 0 25px;
    font-weight: 700;
}
.link i {
    border-color: rgb(93, 194, 30);
}
.top {
    margin: 0 0 24px;
    border: 0;
    border-top: 1px solid rgb(200, 200, 200);
}
.bottom {
    margin: 36px 0 0;
    border: 0;
    border-top: 1px solid rgb(200, 200, 200);
}
.block-16 {
    background-color: rgb(23, 23, 23);
    color: white;
    padding: 42px 5% 90px;
    overflow: hidden;
}
.block-16 > div > i {
    display: block;
    padding: 3px 0 1px;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 16px;
}
.btn {
    border: 2px solid rgb(93, 194, 30);
    color: white;
    background: none;
    font-size: 13px;
    display: inline-block;
    line-height: 1.3;
    padding: 10px 35px 10px 24px;
    cursor: pointer;
    letter-spacing: 0.075em;
}
.btn > a {
    text-decoration: none;
    color: white;
}
.btn:hover {
    border-color: rgb(12, 123, 21);
}
.footer {
    background-color: rgb(242, 242, 242);
    color: rgb(97, 97, 97);
    overflow: hidden;
    font-size: 11px;
    padding: 0 5%;
}
.relevant div {
    width: 16.666667%;
    padding: 0 12px;
    float: left;
}
.relevant p {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    clear: left;
    padding: 36px 0 4px;
    margin: 0;
}
.relevant a {
    line-height: 16px;
    clear: left;
    padding: 8px 0;
    margin: 0;
    display: block;
}
.tail {
    clear: left;
    padding: 30px 0 16px;
    overflow: hidden;
}
.tail > a {
    float: left;
}
.tail > div {
    float: right;
}
.tail > div > a {
    padding: 0 24px 4px 0;
}